<footer>
  <div class="container">
    <section class="footer_main">
      <article class="footer_list">
        <h5>Viagens Temáticas</h5>
        <ul>
          <li><a href="/pacotes">Romântico</a></li>
          <li><a href="/pacotes">Balada</a></li>
          <li><a href="/pacotes">Aventura</a></li>
          <li><a href="/pacotes">Neve</a></li>
          <li><a href="/pacotes">Praia</a></li>
        </ul>
      </article>

      <article class="footer_list">
        <h5>Pacotes Promocionais</h5>
        <ul>
          <li><a href="/pacotes">Pacotes Nacionais</a></li>
          <li><a href="/pacotes">Pacotes Internacionais</a></li>
        </ul>
      </article>

      <article class="footer_list">
        <h5>Sobre Nós</h5>
        <ul>
          <li><a href="/sobre">História da Empresa</a></li>
          <li><a href="/sobre">Fale conosco</a></li>
          <li><a href="/sobre">Trabalhe Conosco</a> </li>
        </ul>
      </article>

      <article class="footer_list">
        <h5>Ajuda</h5>
        <ul>
          <li><a href="/ajuda">Dúvidas Frequentes</a></li>
          <li><a href="/ajuda">Cancelamentos</a></li>
          <li><a href="/ajuda">Políticas de Privacidade</a></li>
        </ul>
      </article>

      <article class="footer_list_contato">
        <h5>Siga as nossas redes sociais</h5>
        <ul>
          <li><a href="http://facebook.com" target="_blank"><img src="/img/facebook.png" alt="facebook" width="40px" height="40px"></a></li>
          <li><a href="http://instagram.com" target="_blank"><img src="/img/instagram.png" alt="instagram" width="40px" height="40px"></a></li>
          <li><a href="http://twitter.com" target="_blank"><img src="/img/twitter.png" alt="twitter" width="40px" height="40px"></a></li>
        </ul>
      </article>

    </section>
  </div>
  <p class="copyright">Viagem.com | Todos os direitos reservados - 2021</p>

</footer>

</body>

</html>