<footer>
  <div class="container">
    <section class="footer__conteudo">
      <% if(locals.categorias ) { %>
        <article class="footer__lista">
          <h5 class="footer__lista__titulo">Viagens Temáticas</h5>
          <ul>
            <% for (let i=0; i < categorias.length; i++) { %>
              <li><a href="/pacotes/?categoria=<%=categorias[i].nomeCategoria %>" class="footer__lista__link">
                  <%=categorias[i].nomeCategoria %>
                </a></li>
              <% } %>
          </ul>
        </article>
        <% } %>

          <article class="footer__lista">
            <h5 class="footer__lista__titulo">Nossos Pacotes</h5>
            <ul>
              <li><a href="/pacotes?destino=nacional" class="footer__lista__link">Pacotes Nacionais</a></li>
              <li><a href="/pacotes?destino=internacional" class="footer__lista__link">Pacotes Internacionais</a></li>
            </ul>
          </article>

          <article class="footer__lista">
            <h5 class="footer__lista__titulo">Sobre Nós</h5>
            <ul>
              <li><a href="/sobre#historia" class="footer__lista__link">História da Empresa</a></li>
              <li><a href="/sobre#fale" class="footer__lista__link">Fale conosco</a></li>
            </ul>
          </article>

          <article class="footer__lista">
            <h5 class="footer__lista__titulo">Ajuda</h5>
            <ul>
              <li><a href="/ajuda#duvidas" class="footer__lista__link">Dúvidas Frequentes</a></li>
              <li><a href="/ajuda#cancelamentos" class="footer__lista__link">Cancelamentos</a></li>
              <li><a href="/ajuda#politica-privacidade" class="footer__lista__link">Políticas de Privacidade</a></li>
            </ul>
          </article>

          <article class="footer__lista__contato">
            <h5 class="footer__lista__titulo">Siga as nossas redes sociais</h5>
            <ul>
              <li><a href="http://facebook.com" rel="noreferrer" class="footer__lista__link social" target="_blank"><img alt="Facebook" src="/img/facebook.png" alt="facebook" width="40px" height="40px"></a></li>
              <li><a href="http://instagram.com" rel="noreferrer" class="footer__lista__link social" target="_blank"><img alt="Instagram" src="/img/instagram.png" alt="instagram" width="40px" height="40px"></a></li>
              <li><a href="http://twitter.com" rel="noreferrer" class="footer__lista__link social" target="_blank"><img alt="Twitter" src="/img/twitter.png" alt="twitter" width="40px" height="40px"></a></li>
            </ul>
          </article>

    </section>
  </div>
  <p class="copyright">Viagem.com | Todos os direitos reservados - 2021</p>

</footer>

</body>

</html>