<footer>
  <div class="container">
    <section class="footer_main">
      <article class="footer_list">
        <h5>Viagens Temáticas</h5>
        <ul>
          <li><a href="romantico.html">Romântico</a></li>
          <li><a href="balada.html">Balada</a></li>
          <li><a href="aventura.html">Aventura</a></li>
          <li><a href="neve.html">Neve</a></li>
          <li><a href="praia.html">Praia</a></li>
        </ul>
      </article>

      <article class="footer_list">
        <h5>Pacotes Promocionais</h5>
        <ul>
          <li><a href="/pacotes/nacionais">Pacotes Nacionais</a></li>
          <li><a href="/pacotes/internacionais">Pacotes Internacionais</a></li>
        </ul>
      </article>

      <article class="footer_list">
        <h5>Sobre Nós</h5>
        <ul>
          <li><a href="sobre.html">História da Empresa</a></li>
          <li><a href="contato.html">Fale conosco</a></li>
          <li><a href="oportunidades.html">Trabalhe Conosco</a> </li>
        </ul>
      </article>

      <article class="footer_list">
        <h5>Ajuda</h5>
        <ul>
          <li><a href="/produtos/produto-a">Dúvidas Frequentes</a></li>
          <li><a href="/produtos/produto-b">Cancelamentos</a></li>
          <li><a href="/produtos/produto-c">Políticas de Pricvacidade</a></li>
        </ul>
      </article>

      <article class="footer_list_contato">
        <h5>Siga as nossas redes sociais</h5>
        <ul>
          <li><a href="http://facebook.com" target="_blank"><img src="img/facebook.png" alt="facebook" width="40px" height="40px"></a></li>
          <li><a href="http://instagram.com" target="_blank"><img src="img/instagram.png" alt="instagram" width="40px" height="40px"></a></li>
          <li><a href="http://twitter.com" target="_blank"><img src="img/twitter.png" alt="twitter" width="40px" height="40px"></a></li>
        </ul>
      </article>

    </section>
  </div>

</footer>

</body>

</html>