<header class="cabecalho-paginas">
  <div class="header_container">
    <div class="container cabecalho__navegacao">
      <a href="/">
        <img class="cabecalho_logo" src="/assets/img/logo01.png" alt="logo" width="234px" height="51px">
      </a>

      <%- include('./menu_nav.ejs') %>
    </div>
  </div>
</header>