<header class="header-pages">
  <div class="header_container">
    <div class="container container__header">
      <a href="/">
        <img class="header_logo" src="assets/img/logo01.png" alt="logo" width="234px" height="51px">
      </a>

      <nav class="header_menu menu_mobile">
        <input id="menu-hamburguer" type="checkbox" class="input-menu" />
        <label for="menu-hamburguer">
          <div class="menu">
            <span class="hamburguer"></span>
            <div class="content_menu_mob">
              <ul>
                <li><a href="viagenstematicas">Viagens Tem치ticas</a></li>
                <li><a href="pacotespromocionais">Pacotes Promocionais</a></li>
                <li><a href="sobrenos">Sobre N칩s</a></li>
                <li><a href="ajuda">Ajuda</a></li>
                <li class="login"><a href="login">Login</a></li>
              </ul>
            </div>
          </div>
        </label>
      </nav>

      <nav class="header_menu menu_desk">
        <ul class="flex">
          <li><a href="viagenstematicas">Viagens Tem치ticas</a></li>
          <li><a href="pacotespromocionais">Pacotes Promocionais</a></li>
          <li><a href="sobrenos">Sobre N칩s</a></li>
          <li><a href="ajuda">Ajuda</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>