<div class="cartoes-historico">
  <div class="cartoes-historico cartoes-historico__content">
    <div class="cartoes-historico__imagem-box">
      <img src="/assets/img/Egito.jpg" class="cartoes-historico__imagem">
    </div>
    <div class="cartoes-historico__detalhes-box">
      <h2 class="cartoes-historico__titulo">Egito histórico</h2>
      <h3 class="cartoes-historico__detalhes"><span>Data da Viagem:</span> 10/05/2022</h3>
      <h3 class="cartoes-historico__detalhes"><span>Status:</span> Aguardando a Viagem</h3>
    </div>
    <div class="cartoes-historico__botoes-box">
      <a href="/minhas-viagens/1"><button class="cartoes-historico__botoes">Ver Detalhes</button></a>
    </div>
  </div>
</div>

<div class="cartoes-historico">
  <div class="cartoes-historico cartoes-historico__content">
    <div class="cartoes-historico__imagem-box">
      <img src="/assets/img/Egito.jpg" class="cartoes-historico__imagem">
    </div>
    <div class="cartoes-historico__detalhes-box">
      <h2 class="cartoes-historico__titulo">Egito histórico</h2>
      <h3 class="cartoes-historico__detalhes"><span>Data da Viagem:</span> 10/05/2022</h3>
      <h3 class="cartoes-historico__detalhes"><span>Status:</span> Finalizada</h3>
    </div>
    <div class="cartoes-historico__botoes-box">
      <a href="/minhas-viagens/1"><button class="cartoes-historico__botoes">Ver Detalhes</button></a>
    </div>
  </div>
</div>