<nav class="cabecalho__menu-mobile">
  <input class="cabecallho__menu-hamburguer" id="cabecallho__menu-hamburguer" type="checkbox" />
  <label for="cabecallho__menu-hamburguer">
    <div class="menu-hamburguer__conteudo">
      <span class="menu-hamburguer__icone"></span>
      <div class="menu-hamburguer__menu-mobile">
        <ul>
          <li><a href="/pacotes">Viagens Temáticas</a></li>
          <li><a href="/pacotes">Pacotes Promocionais</a></li>
          <li><a href="/sobre">Sobre Nós</a></li>
          <li><a href="/ajuda">Ajuda</a></li>

          <% if(locals.usuarioLogado && locals.usuarioAdmin==='false' ) { %>
            <li class="separador"></li>
            <li><a href="/perfil">Meu Perfil</a></li>
            <li><a href="/viagens">Histórico de viagens </a></li>
            <li><a href="/compras">Carrinho de Compras</a></li>
            <li class="login"><a href="/logout">Logout</a></li>
            <% } else if(locals.usuarioLogado && locals.usuarioAdmin==='true' ) { %>
              <li class="separador"></li>
              <li><a href="/painel">Painel Administrativo</a></li>
              <li class="login"><a href="/logout">Logout</a></li>
              <% } else { %>
                <li class="login"><a href="/login">Login</a></li>
                <% }%>
        </ul>
      </div>
    </div>
  </label>
</nav>


<nav class="cabecalho__menu-desk">
  <ul class="flex">
    <li><a href="/pacotes">Viagens Temáticas</a></li>
    <li><a href="/pacotes">Pacotes Promocionais</a></li>
    <li><a href="/sobre">Sobre Nós</a></li>
    <li><a href="/ajuda">Ajuda</a></li>

    <% if(locals.usuarioLogado && locals.usuarioAdmin==='false' ) { %>
      <li><a href="/logout">Logout</a></li>
      <% } else if(locals.usuarioLogado && locals.usuarioAdmin==='true' ) { %>
        <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/login">Login</a></li>
          <% }%>
  </ul>
</nav>