<nav class="cabecalho__menu-mobile">
  <input class="cabecallho__menu-hamburguer" id="cabecallho__menu-hamburguer" type="checkbox" />
  <label for="cabecallho__menu-hamburguer">
    <div class="menu-hamburguer__conteudo">
      <span class="menu-hamburguer__icone"></span>
      <div class="menu-hamburguer__menu-mobile">
        <ul>
          <li><a href="/pacotes">Viagens Tem치ticas</a></li>
          <li><a href="/pacotes">Pacotes Promocionais</a></li>
          <li><a href="/sobre">Sobre N칩s</a></li>
          <li><a href="/ajuda">Ajuda</a></li>
          <li class="/login"><a href="login">Login</a></li>
        </ul>
      </div>
    </div>
  </label>
</nav>

<nav class="cabecalho__menu-desk">
  <ul class="flex">
    <li><a href="/pacotes">Viagens Tem치ticas</a></li>
    <li><a href="/pacotes">Pacotes Promocionais</a></li>
    <li><a href="/sobre">Sobre N칩s</a></li>
    <li><a href="/ajuda">Ajuda</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</nav>