<div class="container cabecalho__navegacao">
  <a href="/">
    <div>
      <img class="cabecalho_logo" src="/assets/img/logo01.png" alt="logo" width="234px" height="51px">
    </div>

  </a>
  <nav class="cabecalho__menu-mobile">
    <input class="cabecallho__menu-hamburguer" id="cabecallho__menu-hamburguer" type="checkbox" />
    <label for="cabecallho__menu-hamburguer">
      <div class="menu-hamburguer__conteudo">
        <span class="menu-hamburguer__icone"></span>
        <div class="menu-hamburguer__menu-mobile">
          <ul>
            <li><a href="/pacotes">Viagens Temáticas</a></li>
            <li><a href="/pacotes">Pacotes Promocionais</a></li>
            <li><a href="/sobre">Sobre Nós</a></li>
            <li><a href="/ajuda">Ajuda</a></li>

            <% if(locals.usuarioLogado && locals.usuarioAdmin==='false' ) { %>
              <li class="separador"></li>
              <li><a href="/perfil">Meu Perfil</a></li>
              <li><a href="/minhas-viagens">Minhas Viagens</a></li>
              <li><a href="/compras">Carrinho de Compras</a></li>
              <li class="login"><a href="/logout">Logout</a></li>
              <% } else if(locals.usuarioLogado && locals.usuarioAdmin==='true' ) { %>
                <li class="separador"></li>
                <li><a href="/usuarios">Gestão de Usuários</a></li>
                <li class="login"><a href="/logout">Logout</a></li>
                <% } else { %>
                  <li class="login"><a href="/login">Login</a></li>
                  <% }%>
          </ul>
        </div>
      </div>
    </label>
  </nav>

  <!-- MENU DESK -->
  <nav class="cabecalho__menu-desk">
    <ul class="flex">
      <li><a href="/pacotes">Viagens Temáticas</a></li>
      <li><a href="/pacotes">Pacotes Promocionais</a></li>
      <li><a href="/sobre">Sobre Nós</a></li>
      <li><a href="/ajuda">Ajuda</a></li>
      <% if(locals.usuarioLogado && locals.usuarioAdmin==='false' ) { %>
        <li class="menu__desk"> <img class="menu__desk-foto" src="/img/foto-usuario.png" alt="foto de perfil" width="50px" height="50px">
        </li>
        <!-- Menu desk admin -->
        <% } else if(locals.usuarioLogado && locals.usuarioAdmin==='true' ) { %>
          <li class="menu__desk"> <img class="menu__desk-foto" src="/img/foto-usuario.png" alt="foto de perfil">

          </li>
          <% } else { %>
            <li><a href="/login">Login</a></li>
            <% }%>
    </ul>
  </nav>
</div>

<% if(locals.usuarioLogado && locals.usuarioAdmin==='false' ) { %>
  <div class="container flex-end">
    <div class="menu__desk-conteudo">
      <ul>
        <li><a href="/perfil">Meu Perfil</a></li>
        <li><a href="/minhas-viagens">Minhas Viagens </a></li>
        <li><a href="/compras">Carrinho de Compras</a></li>
        <li class="login"><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
  <% } else if(locals.usuarioLogado && locals.usuarioAdmin==='true' ) { %>
    <div class="container flex-end">
      <div class="menu__desk-conteudo">
        <ul>
          <li><a href="/perfil">Meu Perfil</a></li>
          <li><a href="/minhas-viagens">Minhas Viagens</a></li>
          <li><a href="/compras">Carrinho de Compras</a></li>
          <li class="separador"></li>
          <li><a href="/usuarios">Gestão de Usuários</a></li>
          <li class="login"><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>

    <% }%>

      <script src="/src/menu.js"></script>