



<nav class='Pacote-ImgContainer'>
    <img src='/assets/img/Egito.jpg' class='Pacote-ImgContainer__Img-first'>
    <ul class='Pacote-ImgContainer__Img-list'>
          <li><img src='/assets/img/Egito.jpg' class='Pacote-ImgContainer__Img'></li>
          <li><img src='/assets/img/Egito_2.jpg' class='Pacote-ImgContainer__Img'></li>
          <li><img src='/assets/img/Egito_3.jpg' class='Pacote-ImgContainer__Img'></li>
    </ul>
</nav>

<script src="/src/imagens-preview.js">

</script>