<% for(let i=0; i<10; i++) {%>
  <li class="promo">
    <a href="/pacotes/1">
      <img alt="Imagem do destino" src="img/Egito.jpg" />
      <h2 class="Propriedade Nome">Egito Histórico</h2>
      <ul class="Propriedades">
        <li class="Propriedade Hotel">
          <p><img alt="Icone Calendario" src="img/calendar.png" />10 Diárias</p>
        </li>
        <li class="Propriedade Hotel">
          <p><img alt="Icone Check" src="img/check.png" />Hotel</p>
        </li>
        <li class="Propriedade PassagemAerea">
          <p><img alt="Icone Check" src="img/check.png" />Passagem Aerea</p>
        </li>
        <li class="Propriedade Bonus">
          <p><img alt="Icone Check" src="img/check.png" /> Translado e City Tour</p>
        </li>
        <li class="Propriedade ValorInicial preco">
          <h2> A partir de <span>R$ 18.880,00</span></h2>
        </li>
        <li class="Propriedade ValorPromocional preco">
          <h1>R$ 14.100,00</h1>
        </li>
        <h2 class="emAte">em até 10x no cartão de crédito</h2>
      </ul>
    </a>
  <li>
    <% }%>