<% for(let i=0; i<16; i++) {%>
  <li class="Tema">
    <div class="Container Img" style="background-image: url(img/Aventura.jpg);">
      <a href="/pacotes/1" style="background-color: #69C862aa">
        <h1>Aventura</h1>
      </a>
    </div>
  </li>
  <% }%>