<% for (let i=0; i < categorias.length; i++) { %>
  <li class="Tema">
    <div class="Container Img" style="background-image: url(/assets/img/categoria/<%=categorias[i].imagemCategoria %>)">
      <a href="/pacotes/?categoria=<%=categorias[i].nomeCategoria %>" style="background-color:<%=categorias[i].corCategoria%>">
        <h1>
          <%= categorias[i].nomeCategoria %>
        </h1>
      </a>
    </div>
  </li>
  <% }%>