header{

    display:flex;
    justify-content: space-around;
    background: #3e50bf;
    flex-flow: row nowrap;
    width: 1280px;
    height: 58px;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    margin: 0px;
    font-size: 12px;
    

}
header > a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 80px;
    
}

header nav {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
#Atalhos{
    display:flex;
    list-style: none;
    white-space: nowrap;
    justify-content: flex-end;
    padding-left:0px;
    padding-right: 24px;

} 
#Atalhos li{
    padding-right: 34px;

}
#LogoTopo{
    display:flex;
    flex-direction: row;
    align-items: center;
    
}
#LogoTopo p{
    background-color: white;
    text-align:center;
    width: 112px;
    height: 20px;

}