@font-face {
    font-family: 'Fonte-Principal';
    src: url('../fonts/Epilogue/Epilogue-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Fonte-Secundaria';
    src: url('../fonts/Mukta/Mukta-Light.ttf');
}
h2{
    font-family: 'Fonte-Principal',sans-serif;

}
h3{
    font-family: 'Fonte-Secundaria';
}