main{
    background-color:#9191915b;
    width: 1280px;
    padding-top: 112px;
    padding-left: 156px;

}
.Categorias{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.MainContent{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left:0px;
    list-style: none;

}
.ViagensTematicas img{
    width: 208px;
    height: 191px;
    border-radius: 10px;
    margin-left: 8px;

}

.PacotesPromocionais li{
    background-color:white;
    margin-left:8px;
    border-radius: 20px 20px 0px 0px;
   
}
.PacotesPromocionais {
    margin-left: 8px;
    
}
.PacotesPromocionais img{
    width:274px;
    height:191px;
    border-radius: 20px 20px 0px 0px;
}