<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style/index.css">
  <link rel="stylesheet" href="style/header.css">
  <link rel="stylesheet" href="style/filter.css">
  <link rel="stylesheet" href="style/main.css">
  <link rel="stylesheet" href="style/newsletters.css">
  <link rel="stylesheet" href="style/footer.css">

  <title>Viagens.com</title>
</head>

<body>
  <!-- Alan -->
  <header>
    <img>
    <nav>
    </nav>
  </header>
  <!-- Alan -->

  <!-- Jefferson -->
  Filtros (Busca)
  <!-- Jefferson -->

  <!-- ALYSON -->
  <main>
    <h1>Olá</h1>
  </main>
  <!--ALYSON -->

  <!-- Danilo -->
  <section>
    newsletters
  </section>
  <!-- Danilo -->

  <!-- Anna Raphaela -->
  <footer>
  </footer>
  <!-- Anna Raphaela -->
</body>

</html>