<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <main class="status404">
      <h1>Desculpa! Página não encontrada</h1>
    </main>

    <%- include('./partials/footer') %>