<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <section class="container container-pacotes">
      <% if(locals.usuarioLogado && locals.usuarioAdmin==='true' ) { %>
        <div class="title-bar">
          <h1>Listagem dos Adicionais</h2>
            <a href="listarAdicional/adicionar" class="travel-cards__btao">Cadastrar Adicional</a>
        </div>
        <% } else {%>
          <div class="title-bar">
            <h1 class="title-bar"> Listagem dos Adicionais</h1>
          </div>
          <% } %>

            <div class="travel-cards add-cards">
              <%- include('./partials/adicionais-list') %>
            </div>

            <div class="container paginacao">
              <a href="" class="nav-pag">
                Anterior </a>
              <a href="" class="nav-pag">1</a>
              <a href="" class="nav-pag">2</a>
              <a href="" class="nav-pag">3</a>
              <a href="" class="nav-pag">4</a>
              <a href="" class="nav-pag">5</a>
              <a href="" class="nav-pag">Próxima</a>
            </div>

    </section>
    <%- include('./partials/footer') %>