<%- include('./partials/head') %>
  <%- include('./partials/header') %>
   

    <div>
      <h1>Ajuda</h1>

      <h2>Dúvidas Frequentes</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie laoreet massa. Cras non dapibus est, dictum tempus turpis. Sed dictum imperdiet diam, vel venenatis mauris ultrices ut. Curabitur ut varius dolor. Aenean convallis malesuada turpis, a elementum diam porttitor at.
     </p>

      <h2>Cancelamento</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie laoreet massa. Cras non dapibus est, dictum tempus turpis. Sed dictum imperdiet diam, vel venenatis mauris ultrices ut. Curabitur ut varius dolor. Aenean convallis malesuada turpis, a elementum diam porttitor at.
     </p>


      <h2>Política de Privacidade</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie laoreet massa. Cras non dapibus est, dictum tempus turpis. Sed dictum imperdiet diam,vel venenatis mauris ultrices ut. Curabitur ut varius dolor. Aenean convallis malesuada turpis, a elementum diam porttitor at.
     </p>

    </div>

    <%- include('./partials/footer') %>