<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <section class="container-login">

      <div class="container-imagem-login">
        <img class="imagem-login" src="/img/imagem-login.jpeg" alt="imagem login" width="310px" height="290px">
      </div>

      <div class="container-formulario-login">
        <form action="" id="formulario-cadastro" method="POST">
          <fieldset>

            <div class="formulario-login__dados">
              <input type="text" id="nome" name="nome" placeholder="Nome" required>
            </div>

            <div class="formulario-login__dados">
              <input type="email" id="email" name="email" placeholder="E-mail" required>
            </div>

            <div class="formulario-login__dados">
              <input type="password" id="senha" name="senha" placeholder="Senha:" required>
              <input type="password" id="confimar-senha" name="confirmar-senha" placeholder="Confirmar senha:" required>
            </div>


          </fieldset>

          <div class="container-aceite">
            <input type="checkbox" id="aceite" name="aceite" required>
            <label for="aceite">Li e aceito os <a href="/termos-de-servico" class="aceite__termos-servico"> Termos e condições</a> de serviço </label>
          </div>

          <div class="container-aceite">
            <input type="checkbox" id="novidades" name="novidades">
            <label for="novidades">Desejo receber as promoções, novidades e dicas.</label>
          </div>

          <div class="container-botao-login">
            <button class="botao-login" type="submit">CADASTRAR-SE</button>
          </div>
          
        </form>
      </div>
    </section>

    <%- include('./partials/footer') %>