<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <div class="container container-checkout">
      <div class="title-bar">
        <h1>SUCESSO</h2>
      </div>
    </div>

    <%- include('./partials/footer') %>