<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <div class="container container-historico">
      <div class="title-bar">
        <h1>Todos os Pedidos</h2>
      </div>
      <%- include('./partials/admin-history-card') %>
    </div>

    <%- include('./partials/footer') %>