<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <div class="container container-historico container-historico-null">
      <div class="box1">
        <h1>Você ainda não comprou nenhuma viagem.</h1>
        <h2>Que tal aproveitar as nossas ofertas e planejar agora mesmo suas férias?</h2>
      </div>
      <div class="box2">
        <img src="assets/img/no-travel.png" width="100%" alt="">
      </div>
    </div>

    <%- include('./partials/footer') %>