<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <body>
      <div class='Pacote'>
        <article class='Pacote-TitleContainer'>
          <h2 class='Pacote-TitleContainer__Subtitle'>Pacotes Internacionais</h2>
          <h1 class='Pacote-TitleContainer__Title'>Egito Histórico</h1>
        </article>
        <nav class='Pacote-ImgContainer'>
          <img src='/assets/img/Egito.jpg' class='Pacote-ImgContainer__Img-first'>
          <ul class='Pacote-ImgContainer__Img-list'>
            <li><img src='/assets/img/Egito.jpg' class='Pacote-ImgContainer__Img'></li>
            <li><img src='/assets/img/Egito.jpg' class='Pacote-ImgContainer__Img'></li>
            <li><img src='/assets/img/Egito.jpg' class='Pacote-ImgContainer__Img'></li>
            <li><img src='/assets/img/Egito.jpg' class='Pacote-ImgContainer__Img'></li>
            <li><img src='/assets/img/Egito.jpg' class='Pacote-ImgContainer__Img'></li>

          </ul>
        </nav>
        </ul>
        <aside class="info_container">
          <ul class="Pacote-Propriedades">
            <li class="Pacote-Propriedades__Item Titulo">
              <h1>Egito Histórico</h1>
            </li>
            <li class="Pacote-Propriedades__Item Dias">
              <img class="Pacote-Propriedades__Item-Img" src="/img/calendar.png">
              <p> 10 Diárias</p>
            </li>
            <li class="Pacote-Propriedades__Item Hotel">
              <img class="Pacote-Propriedades__Item-Img" src="/img/check.png">
              <p>Hotel</p>
            </li>
            <li class="Pacote-Propriedades__Item PassagemAerea">
              <img class="Pacote-Propriedades__Item-Img" src="/img/check.png">
              <p>Passagem Aérea</p>
            </li>
            <li class="Pacote-Propriedades__Item Bonus">
              <img class="Pacote-Propriedades__Item-Img" src="/img/check.png">
              <p>Translado e City Tour</p>
            </li>

            <li class="Pacote-Propriedades__Item Destaques">
              <div><img src="/img/wi-fi.png" width="34px" height="34px">
                <P>Wi-Fi Grátis</P>
              </div>
              <div><img src="/img/drink.png" width="34px" height="34px">
                <p>Café da Manhã</p>
              </div>
            </li>
            <div class="Pacote-Propriedades__divisao">
              <li class="Pacote-Propriedades__Item">
                <p><span>Pacote adquirido em:</span> 10/08/2021</p>
              </li>
              <li class="Pacote-Propriedades__Item">
                <p><span>Valor pago:</span> R$ 15.800,00</p>
              </li>
              <li class="Pacote-Propriedades__Item">
                <p><span>Parcelado em:</span> 5x R$ 3.160,00</p>
              </li>
              <li class="Pacote-Propriedades__Item">
                <p><span>Status:</span> Aguardando a Viagem</p>
              </li>
            </div>
          </ul>
          <button class="Pacote__Button-Cancelar">Cancelar Compra</button>
        </aside>
      </div>

      <%- include('./partials/footer') %>