<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <div class="container container-historico">
      <div class="title-bar">
        <h1>Histórico de Viagens</h2>
      </div>
      <%- include('./partials/history-card') %>
    </div>

    <%- include('./partials/footer') %>