<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <section class="container container-pacotes">
      <h1> Listagem de usuários </h1>

      <div class="travel-cards">
        <%- include('./partials/usuario-card') %>
      </div>

      <div class="container paginacao">
        <a href="" class="nav-pag">
          Anterior </a>
        <a href="" class="nav-pag">1</a>
        <a href="" class="nav-pag">2</a>
        <a href="" class="nav-pag">3</a>
        <a href="" class="nav-pag">4</a>
        <a href="" class="nav-pag">5</a>
        <a href="" class="nav-pag">Próxima</a>
      </div>

    </section>
    <%- include('./partials/footer') %>