<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <section class="container container-pacotes">
      <h1> Listagem de usuários </h1>


      <div class="travel-cards">
        <%- include('./partials/usuario-card') %>
      </div>

    </section>
    <%- include('./partials/footer') %>