<%- include('./partials/head') %>
  <%- include('./partials/header') %>


    <section class="container-login">
      <div class="container-imagem-login">
        <img class="imagem-login" src="/img/imagem-login.jpeg" alt="imagem login" width="310px" height="290px">
      </div>

      <div class="container-formulario-login">
        <form action="" id="formulario-login" method="POST">
          <fieldset>
            <div class="formulario-login__dados">
              <input type="email" id="email" name="email" placeholder="Usuário" required>
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div class="formulario-login__dados">
              
              <input type="password" class="login__senha" id="senha" name="senha" placeholder="Senha" required placeholder="Senha" required>
              <i class="bi bi-eye-slash" id="togglePassword"></i>
              </button>
            </div>
          </fieldset>

          <div class="container-recuperar-senha">
            <a href="/recuperar-senha">Esqueceu sua senha?
          </div>
          <div class="container-botao-login">
            <button class="botao-login" type="submit">ENTRAR</button>
          </div>
          <div class="container-cadastro">
            <p>Ainda não é cadastrado? </p>
          </div>
          <div>
            <p class="cadastro__link-cadastro"><a href="/cadastro">Cadastre-se</a></p>
          </div>
        </form>
      </div>
    </section>

    <%- include('./partials/footer') %>
    <script src="src/ver-senha.js"></script>