<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <div class="container container-pacotes">
      <nav class="Categoria categoria-promocional">
        <article>
          <h1>Pacotes Promocionais</h2>
        </article>
        <div class="Main Button PreviousButton" display="none"></div>
        <ul class="Main PacotesPromocionais ExibeIcone">
        </ul>
      </nav>
    </div>

    <%- include('./partials/footer') %>