<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
      <div class='Produto'>
            <ul class='Produto__imgCountainer'>
                  <li><img src='/assets/img/Egito.png' class='Produto__img-first'></li>
                  <li><img src=''></li>
            </ul>
            </ul>
      </div>
</body>
<%- include('./partials/footer') %>