<%- include('./partials/head') %>
  <%- include('./partials/header') %>


    <section class="container-login">
      <div class="container-imagem-login">
        <img class="imagem-login" src="/img/imagem-login.jpeg" alt="imagem login" width="310px" height="290px">
      </div>

      <div class="container-formulario-login">
        <form action="/login" id="formulario-login" method="POST">
          <div class="container-formulario-login__erro">
            <%= erro %>
          </div>
          <fieldset>
            <div class="formulario-login__dados">
              <p> Redefinir senha </p>
              <input type="email" id="email" name="email" placeholder="Email" required>
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div class="formulario-login__dados">
          </fieldset>
          <div class="container-botao-login">
            <button class="botao-login" type="submit">Enviar</button>
          </div>
          <div class="container-cadastro">
            <p>Ainda não é cadastrado? </p>
          </div>
          <div>
            <p class="cadastro__link-cadastro"><a href="/cadastro">Cadastre-se</a></p>
          </div>
        </form>
      </div>
    </section>

    <%- include('./partials/footer') %>
      <!-- <script src="src/ver-senha.js"></script> incluir alerta  -->