.container-busca {
  background: #fff;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.16));
  width: 100%;
  border-radius: 30px 50px 50px 30px;
  height: auto;
  margin-top: -110px;
  /* margin-left: 20px; */
}

.container-busca__form {
  display: flex;
  flex-flow: column nowrap;
}

.container-busca__form__campos {
  display: flex;
  padding: 20px 10px 10px;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.container-busca__form__campos__itens {
  padding: 10px 0;
}

.container-busca__form__campos__itens--primeiro {
  margin-right: 20px;
}

.container-busca__form__campos__itens--segundo {
  margin-right: 15px;
}

.container-busca__form__campos__itens--separador {
  display: none;
}

.busca__campo input {
  color: #919191;
  border: 0px !important;
  outline: none;
}

.busca__campo {
  display: flex;
  flex-flow: column nowrap;
}

.busca__campo #onde {
  width: 270px;
}

.busca__campo #quando {
  width: 160px;
}


.busca__campo #quantos {
  width: 220px;
}

.busca__campo label {
  /* font-family: 'Epilogue', sans-serif; */
  font-family: 'fonte-primaria', sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.busca__campo input {
  font-family: 'Mukta', sans-serif;
  font-family: 'fonte-secundaria', sans-serif;
  font-weight: 200;
  font-size: 16px;
  padding: 0;
}

.busca__campo__submit {
  font-family: 'Epilogue', sans-serif;

  border-radius: 0px 0px 30px 30px;
  background: #3e60bf;
  height: 50px;
  width: 100%;
  padding: 10px;
  color: #fff;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 16px;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
}

.busca__campo__submit:hover {
  background: #1B3EA1;
}

@media (min-width: 720px) {
  .container-busca__form__campos__itens--separador {
    display: block;
  }

  .busca__campo #onde {
    width: 500px;
  }
}

@media (min-width: 750px) {
  .container-busca {
    margin-top: -80px;
  }
}

@media (min-width: 1100px) {
  .container-busca {
    width: 967px;
    height: 80px;
    margin-top: -50px;
  }

  .container-busca__form {
    flex-flow: row nowrap;
  }

  .container-busca__form__campos {
    width: 967px;
    padding: inherit;
  }

  .container-busca__form__campos__itens {
    padding: 20px 0;
  }

  .container-busca__form__campos__itens--primeiro {
    margin-left: 45px;
  }

  .busca__campo #onde {
    width: 500px;
  }

  .busca__campo__submit {
    border-radius: 0 30px 30px 0;
    height: 80px;
    width: 200px;
  }
}